<div class="container">
  <div class="row">
    <div class="col-3">
      <div>
        <h1>今日の予定</h1>
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th>タイトル</th>
              <th>時間</th>
            </tr>
          </thead>
          <tbody>
            <% @today_schedules.each do |schedule| %>
              <tr>
                <td><%= link_to schedule.title, schedule_path(schedule) %></td>
                <td><%= schedule.start_time.strftime("%H:%M") %>~<%= schedule.end_time.strftime("%H:%M") %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <h1>予定追加</h1>
      <div>
        <%= form_with(model: @schedule_new, local: true) do |f| %>
      <div class="title">
        <%= f.label :title %>
        <%= f.text_field :title %>
      </div>
      <div>
        <%= f.radio_button :genre, 0 %>
        <%= f.label :genre, "面接" %>
      　<%= f.radio_button :genre, 1 %>
      　<%= f.label :genre, "説明会" %>
      　<%= f.radio_button :genre, 2 %>
      　<%= f.label :genre, "その他" %>
      </div>
      <div class="time">
        <%= f.label :start_time %>
        <%= f.datetime_select :start_time %>
      </div>
      <div class="time">
        <%= f.label :end_time %>
        <%= f.datetime_select :end_time %>
      </div>
      <div class="content">
        <%= f.label :url %>
        <%= f.text_field :url %>
      </div>
      <div class="content">
        <%= f.label :memo %>
        <%= f.text_field :memo %>
      </div>
      <div class="submit">
        <%= f.submit %>
      </div>
      <% end %>
      </div>
      <%= link_to "振り返り一覧", reviews_path, class: "btn btn-success" %>
    </div>
    <div class="col-9">
      <%= month_calendar events: @schedules do |date, schedules| %>
          <%= date.day %>
          <% schedules.each do |schedule| %>
          <div>
            <%= link_to schedule.title, schedule_path(schedule) %>
          </div>
          <% end %>
      <% end %>
    </div>
  </div>
</div>
